body, button {
    font-family:'Courier New', Courier, monospace;
    background-color: #eeeeee;
}

fieldset {
    margin: 10% 30%; /*верх-низ и право-лево*/
    width: 40%;
    border-top-color:#cfcdcd;
    border-width: 3px 1px 1px 1px;
    background-color: white;
}

#newApplication {
    margin: 3% 30%;
}

h1 {
    text-align: center;
}

input, textarea {
    width: 85%;
    height: 2.2em;
    border: none;
    border-bottom: 1.5px solid #adadad;
    border-top: 0.1px solid #d8d8d8;
    border-left: 0.1px solid #d8d8d8;
    border-right: 0.1px solid #d8d8d8;
}

textarea {
    height: 15em;
}

button, input, label, textarea {
    margin: 1% 6.5%;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    background-color: #b5b5b5;
    font-weight: bolder;
    border: none;
    margin-top: 5%;
    width: 87%;
    height: 2em;
}

#edit {
    font-size: smaller; 
    margin-top: 0;  
    background-color:  #eeeeee;
}

table tr:nth-child(2n+2) {
    background-color: #e1dfdf;
}

.nav-item {
    margin: 0.1vh 2.5vw;
 }

/* наведение на ссылку */
.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: black;
    border: none;
    border-bottom: 0.5vh solid #505050;
}

h1.navbar-brand {
    padding-left: 4.5%;
    font-size: 4vh;
    font-family: 'Poppins bold';
}

button.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

table {
    margin: 3% 12%; /*верх-низ и право-лево*/
    width: 80%;
}

table, th, td {
    text-align: center;
    vertical-align:middle;
    border-collapse: collapse;
    padding: 15px 15px; /* верх-низ и право-лево */
    font-size: large;
}