<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>
    Log in
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form th:method="POST" th:action="@{\auth}">
  <input type="email" id="email" name="email" required placeholder="email">
  <br>
  <input type="password" id="password" name="password" required placeholder="password">
  <br>
  <button type="submit"> Log in </button>
</form>
</body>
</html>